#loadingProgressG{
  position: absolute;
  top: 100px;
  left: 50%;
  width:179px;
  height:14px;
  overflow:hidden;
  background-color:rgb(0,0,0);
  margin:auto;
  border-radius:7px;
  -o-border-radius:7px;
  -ms-border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
}

.loadingProgressG{
  background-color:rgb(255,255,255);
  margin-top:0;
  margin-left:-179px;
  animation-name:bounce_loadingProgressG;
  -o-animation-name:bounce_loadingProgressG;
  -ms-animation-name:bounce_loadingProgressG;
  -webkit-animation-name:bounce_loadingProgressG;
  -moz-animation-name:bounce_loadingProgressG;
  animation-duration:1.5s;
  -o-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-timing-function:linear;
  -o-animation-timing-function:linear;
  -ms-animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  width:179px;
  height:14px;
}



@keyframes bounce_loadingProgressG{
  0%{
    margin-left:-179px;
  }

  100%{
    margin-left:179px;
  }
}

@-o-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-179px;
  }

  100%{
    margin-left:179px;
  }
}

@-ms-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-179px;
  }

  100%{
    margin-left:179px;
  }
}

@-webkit-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-179px;
  }

  100%{
    margin-left:179px;
  }
}

@-moz-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-179px;
  }

  100%{
    margin-left:179px;
  }
}