.navbar {
  display: flex;
}

.logo__nav {
  width: 15%;
}
.list__menu {
  width: 60%;
  justify-content: space-around;
  display: flex;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}

.nav__options {
  display: flex;
}

.nav__cart-number {
  background-color: red;
  text-align: center;
}

.nav__favotite-number {
  background-color: red;
  margin-left: 5px;
  text-align: center;
}

.link {
  font-weight: bold;

  &--active {
    color: red;
  }
}
