.App {
  width: 100%;
  height: 100vh;
}
.wrapper {
    height: 0;
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
  }

.buttons {
    display: flex;
    justify-content: space-around;
  }

.modal__wrapper {
    width: 100px;
    height: 300px;
  }
