.cart__container {
  width: 80%;
  margin: 0 auto;
}

.cart__block-container {
  width: 100%;
  border: 1px solid rgb(206, 205, 205);
  margin: 20px 0;
}

.cart__block-img {
  width: 13%;
  height: 13%;
  padding: 5px 10px;
  display: block;
}

.cart__block {
  display: flex;
  justify-content: space-around;
}

.cart__price {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__p {
  display: flex;
  align-items: center;
}

.cart__price-iter {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cart__input {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
}

.close {
  width: 3%;
  height: 3%;
  padding: 5px 5px;
  position: relative;
  left: 7%;
  cursor: pointer;
}
