.oneWatch {
  display: flex;
  border: 1px solid gray;
  margin: 30px;
  border-radius: 2px;
}
.img {
  width: 100%;
  height: 60%;
  margin: 40px;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.more {
  padding: 20px;
}
