.card {
  width: 20%;
  border: 1px solid gainsboro;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  $this: &;
  &__favorite {
    width: 30px;
    height: 30px;
    background-color: red;
    align-self: flex-start;
    padding: 5px 0;
    margin: 5px;
    border-radius: 30px;
    outline: none;
  }

  &__favorite:hover {
    background-color: aquamarine;
  }

  &__name {
    background-color: gray;
    text-align: right;
    align-self: flex-end;
    font-size: 18px;
    width: 100px;
  }
  &__img {
    padding: 20px 0;
    object-fit: contain;
    width: 70%;
    height: 100%;
    cursor: pointer;
  }

  &__img:hover {
    animation: scale 1s forwards;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.1);
    }
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
  }

  &__color {
    align-self: flex-start;
    padding: 5px 15px;
  }

  &__article {
    font-size: 16px;
    align-self: flex-end;
    padding: 5px 15px;
  }

  &__button {
    padding: 15px 15px;
    border-radius: 5px;
    margin: 20px 10px;
  }
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
