
.card__container{
  margin: 0 auto;
}
.card {
  background-color: white;
  position: relative;
  border: 1px solid #bfbfbf;
  padding: 20px 5px 20px 5px;
  border-radius: 15px;
  margin: 1rem;
  text-align: center;
  z-index: 100;


  $this: &;

  &:hover{
    box-shadow: 2px 2px 10px 2px #737373;
  }

&__header {
  display: flex;
  cursor: pointer;
}

  &__btn {
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px 54px;
    background-color: rgba(207, 207, 207, 0.2);
    cursor: pointer;
  }

  &__btn:hover {
    background-color: rgba(160, 160, 160, 0.6);
  }

 &__img {
   padding: 10px 13px;
   width: 280px;
   height: 200px;
   cursor: pointer;
 }
  &__img:hover {
    animation: animate  1.5s ;
    animation-fill-mode: forwards;
  }

  @keyframes animate {
    0% {
      transform: scale(1)
    }

    100% {
         transform: scale(1.13)
       }

  }

  &__name {
    position: relative;
    left: 181px;
    background-color: rgba(0,0,0,0.05);
    width: 100px;
    height: 20px;
  }
  &__price {
    padding: 15px 0 0 0;
    font-size: 18px;
  }

  &__footer {
    display: flex;
    padding: 15px 0 0 0;
    justify-content: space-around;
  }

  &__article {
    font-size: 14px;
  }

  &__color {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  &__color:first-letter {
    text-transform: uppercase;
  }
  &__color-style {
    position: relative;
    width: 13px;
    height: 13px;
    left: 5px;
    bottom: 5px;
    cursor: pointer;
  }

  &__color-block {
    display: flex;
  }
}

.logo__img {
  position: relative;
  left: 10px;
  bottom: 5px;
  background-color: white;
  width: 30px ;
  height: 30px;
  cursor: pointer;
}