.header__modal {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  padding-left: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.body__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px 30px 30px;
}

.footer__modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal {
  border-radius: 5px;
  position: relative;
  height: 200px;
  width: 400px;
  margin: auto;
  background-color: #fc6856;
  top: 60px;
  margin-top: 20px;
  box-sizing: border-box;
  color: #fff;

  $this: &;
  &__btn {
    color: #fff;
    padding: 10px 40px 10px 40px;
  }

  &__btnOk {
    cursor: pointer;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__btnCancel {
    cursor: pointer;
    outline: none;
    background-color: rgba(255, 38, 99, 0.4);
  }

  &__btnOk:hover,
  &__btnCancel:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.close__btn {
  cursor: pointer;
  font-weight: lighter;
  background-color: rgba(32, 43, 32, 0.3);
  color: #fff;
  outline: none;
  border: transparent;
}
.close__btn:hover,
.modal__btnCancel:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.outside {
  width: 100%;
  height: 100vh;
  background-color: gray;
}
